.content-photo {
  display: flex;
  align-items: center;
  padding: 10vh 5vw;

}

.content-photo h2 {
  font-size: 2.5em;
  margin-bottom: 3vh;
}

.content-photo p {
  margin-bottom: 5vh;
}

.content-photo button {
  font-weight: 700;
}

@media (max-width:800px) {
  .content-photo {
    flex-direction: column-reverse;
  }
}