.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.logo-item {
  width: 150px; /* Ancho deseado para cada logo */
  height: 100px; /* Alto deseado para cada logo */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
