.redes {
  display: flex;
  padding: 10vh 5vw;
  align-items: center;
}

.redes h2 {
  font-size: 2.5em;
  margin-bottom: 5vh;
}

.redes p {
  margin-bottom: 5vh;
}

.redes img {
  width: 500px;
  height: auto;
}


@media (max-width:800px) {
  .redes {
    flex-direction: column-reverse;
  }
}